        <!-- list group item -->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">Pull ups</h5>
              <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
              <form class="d-flex align-items-center justify-content-between mt-1" [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">

                <div class="form-group col-md-6" style="text-align: center;">
                  <label for="title">Series</label>
                  <input type="number" class="form-control" id="series" placeholder="Series" formControlName="series" min="0">
                </div>

                <div class="form-group col-md-6" style="text-align: center;">
                  <label for="title">Reps</label>
                  <input type="number" class="form-control" id="reps" min="0" placeholder="Reps" formControlName="reps">
                </div>
                <button type="submit" class="btn btn-primary col-md-6" >Add exercise</button>

              </form>
            </div><img src="../../../assets/img/pushup.gif" alt="Generic placeholder image" width="200" class="order-1 order-lg-2">
          </div>
          <!-- End -->
        </li>
