<div class="workout">
  <div class="container py-5" data-aos="zoom-in" data-aos-delay="100">

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container left" style="float: left; width: 28%; background-color: white;" [formGroup]="workout">
      <button style="display: none;" class="btn filters-button" type="button" data-toggle="collapse" data-target="#filters" aria-expanded="true" aria-controls="filters">
        Filters
      </button>
      <div id="filters" class="collapse show">
        <div class="form-row">
          <div class="form-group">
            <label for="workoutType">Workout type</label>
            <select class="form-control" id="workoutType" formControlName="workoutType" [(ngModel)]="selectedWorkoutType" (change)="changeWorkoutType()">
              <option value="ALL">All</option>
              <option *ngFor="let type of wType | keyvalue" [value]="type.value">{{ type.key }}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="bodyPart">Body part</label>
            <select class="form-control" id="bodyPart" formControlName="bodyPart"
            [(ngModel)]="selectedBodyPart"
            (change)="changeBodyPart()">
            <option value="ALL">All</option>
            <option *ngFor="let part of bPart | keyvalue" [value]="part.value">{{ part.key }}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="muscleGroups">Muscle groups <i class="fa fa-refresh" style="padding-left: 10px;" (click)="resetMuscleGroups()" aria-hidden="true"></i></label>

          <select multiple class="form-control" id="mus" formControlName="muscleGroups" [(ngModel)]="selectedMuscleGroups" (change)="changeMuscleGroup()">
            <option [value]="group.value" *ngFor='let group of mGroups | keyvalue'>{{group.key}}</option>
          </select>
          </div>
          
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="filter">Sort by</label>
            <select class="form-control" id="filter" formControlName="sort" [(ngModel)]="criteria" (change)="selectedCriteria()">
              <option value="None">None</option>
              <option value="AlphabeticalAsc">Alphabetical Ascending</option>
              <option value="AlphabeticalDesc">Alphabetical Descending</option>
              <option value="PriceAsc" >Price Ascending</option>
              <option value="PriceDesc" >Price Descending</option>
              <option value="DateAsc" >Date Ascending</option>
              <option value="DateDesc" >Date Descending</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="equipment">Equipment <i class="fa fa-refresh" style="padding-left: 10px;" (click)="resetEquipment()" aria-hidden="true"></i></label>

            <div class="form-check">
              <input class="form-check-input"  type="radio" name="equipment" id="exampleRadios1" formControlName="equipment" [value]="true" [(ngModel)]="selectedEquipment" (change)="changedEquipment()">
              <label class="form-check-label" for="yes">
                Yes
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="equipment" id="exampleRadios2" formControlName="equipment" [value]="false" [(ngModel)]="selectedEquipment" (change)="changedEquipment()">
              <label class="form-check-label" for="no">
                No
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container buttons" style="float: right; width: 70%;">
      <div class="form-row">
        <div class="form-group col-md-11 search-button" style="padding: 0; border-radius: 10px;">
          <input type="text" class="form-control" id="title" placeholder="Search" [(ngModel)]="searchTerm" (change)="searchWorkoutPlans()">
        </div>
        <div class="col-md-1 create-button" style="padding-left: 15px;" [hidden]="!isAuthenticated()">
          <a [routerLink]="['/workout-plans/create-workout-plan']" class="btn btn-light" style="background-color: white;color: black; border-radius: 50%;">+</a>
        </div>
      </div>
    </div>

    <div class="container right" style="float: right; width: 70%;">
      <div class="row">
        <div class="mx-auto" data-aos="zoom-in" data-aos-delay="100">

          <!-- List group-->
          <ul class="list-group shadow" >
            <app-workout-plan-thumbnail *ngFor="let program of workoutPrograms | paginate: {
              id: 'workout_pagination',
              itemsPerPage: 2,
              currentPage: page,
              totalItems: totalPrograms }" [workoutPlan]="program"></app-workout-plan-thumbnail>
          </ul>
        </div>
      </div>
      <pagination-controls  id="workout_pagination"
                      (pageChange)="handlePageChange($event)"
                      maxSize="100"
                      directionLinks="true"
                      responsive="true"
                      autoHide="true"
                      previousLabel="Prev"
                      nextLabel="Next">
      </pagination-controls>

    </div>





  </div>

</div>


