.container {
  width: 80%;
  margin: auto!important;
}

.workout {
  background: url('../../assets/img/limit.jpg') top center;
  background-size: cover;
  min-height: 145vh;
}


.btn {
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid;
  border-color: white;
  color: white;
}

.btn:hover, .btn:active:focus {
  background-color: 2dc997;
  color: white;
  border: none;

}

.form-group {
  width: 100%;
  padding: 10px
}

.left {
  border-radius: 10px;
  padding: 30px;
}

.filters-button {
  width: 100%;
  margin: auto;
  color: black;
  border: none;
}

.filters-button:active {
  border: none!important;
  background-color: white!important;
  color: black!important;
}

@media (max-width: 768px) {
  .left {
    float: none!important;
    width: 100%!important;
    margin: auto!important;
  }

  .right {
    float: none!important;
    width: 100%!important;
    margin: auto!important;
  }

  .filters-button {
    display: inline-block!important;
  }

  .create-button {
    width: 40%;
  }

  .search-button {
    width: 60%;
  }

  .buttons {
    float: none!important;
    width: 100%!important;
  }
}

.authenticated {
  visibility: initial;
}

.not-authenticated {
  visibility: hidden;
}

.fa-refresh:hover {
  color: #2dc997!important;
}

