.container {
  width: 80%;
  margin: auto!important;
}

.workout {
  background: url('../../assets/img/limit.jpg') top center;
  background-size: cover;
  min-height: 125vh;
}


.btn {
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid;
  border-color: white;
  color: white;
}

.btn:hover, .btn:active:focus {
  background-color: 2dc997;
  color: white;
  border: none;

}

.form-group {
  width: 90%;
  padding: 10px
}

.left {
  border-radius: 15px;
}
