<div class="card mb-2">
  <div class="card-body">
      <div class="media forum-item">
          <a href="javascript:void(0)" class="card-link">
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle" width="50" alt="User" />
          </a>
          <div class="media-body ml-3">
              <a href="javascript:void(0)" class="text-secondary">{{comment?.submitter?.username}}</a>
              <small class="text-muted ml-2">{{comment?.submissionTime | date}}</small>
              <div class="mt-3 font-size-sm">
                  <p>{{comment?.text}}</p>
              </div>
          </div>
          <div>
            <div class="text-muted small text-center">
                <div class="d-none d-sm-inline-block upvote" style="cursor: pointer;" (click)="upVote()"><i [ngClass]="{'already-voted-up' : alreadyUpVoted(), '' : !alreadyUpVoted()}" class="fa fa-chevron-up"></i></div>
            </div>
            <div class="text-muted small text-center">
                <span class="d-none d-sm-inline-block upvote">{{comment?.rating}}</span>
            </div>
            <div class="text-muted small text-center">
                <div class="d-none d-sm-inline-block downvote" style="cursor: pointer;" (click)="downVote()"><i [ngClass]="{'already-voted-down' : alreadyDownVoted(), '' : !alreadyDownVoted()}" class="fa fa-chevron-down"></i></div>
            </div>
          </div>

      </div>
  </div>
</div>
