.upvote:hover{
    color: green;
 }
 
.downvote:hover{
    color: red!important;
 }

 .already-voted-up {
     color: green!important;
 }

 .already-voted-down {
    color: red!important;
}

.fa-trash:hover, .fa-pencil:hover {
    color:#00b09b;
    cursor: pointer
  }