<div class="details">

  <div class="blog-single gray-bg" data-aos="zoom-in" data-aos-delay="100">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-8 m-15px-tb">
                <article class="article">
                    <div class="article-img">
                        <img [src]="'data:image/gif;base64,'+ workoutProgram?.image.pictureBytes"  title="" alt="">
                    </div>
                    <div class="article-title">
                        <h6><a>{{workoutProgram?.workoutType}}</a></h6>
                        <h2>{{workoutProgram?.title}}</h2>
                        <div class="media">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                            </div>
                            <div class="media-body">
                                <label>{{workoutProgram?.username}}</label>
                                <span>{{workoutProgram?.submissionTime | date}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        <p>{{workoutProgram?.description}}</p>
                        <h4>Workout type:</h4>
                        <p>{{workoutProgram?.workoutType}}</p>
                        <h4>Equipment:</h4>
                        <p *ngIf="workoutProgram?.equipment === true">Yes</p>
                        <p *ngIf="workoutProgram?.equipment === false">No</p>
                        <h4>Body part:</h4>
                        <p>{{workoutProgram?.bodyPart}}</p>
                        <h4>Muscle groups:</h4>
                    </div>
                    <div class="nav tag-cloud">
                        <a href="#" *ngFor="let muscleGroup of workoutProgram?.muscleGroups">{{muscleGroup}}</a>

                    </div>
                </article>

                <div class="contact-form article-comment" style="margin-bottom: 5%!important;">
                    <section class="pt-5 pb-5">
                        <div class="container">
                          <div class="row">
                              <div class="col-6 widget-title">
                                  <h3 class="widget-title" style="font-size:25px!important; color: #fc5356!important; font-weight: 700!important;">Exercises</h3>
                              </div>
                              <div class="col-6 text-right">
                                  <a class="btn btn-primary mb-3 mr-1" style="background-color: #2dc997; border: none;" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                                      <i class="fa fa-arrow-left"></i>
                                  </a>
                                  <a class="btn btn-primary mb-3 " style="background-color: #2dc997; border: none;" href="#carouselExampleIndicators3" role="button" data-slide="next">
                                      <i class="fa fa-arrow-right"></i>
                                  </a>
                              </div>
                              <div class="col-12">
                                  <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
        
                                      <div class="carousel-inner">
                                          <div class="carousel-item active">
                                              <div class="row">
        
                                                  <div class="col">
                                                      <div class="card">
                                                        <img class="img-fluid" alt="100%x280" [src]="'data:image/gif;base64,'+ workoutProgram?.exercises[0]?.exercise?.image.pictureBytes">

                                                          <div class="card-body">
                                                            <h4 class="card-title">{{workoutProgram?.exercises[0]?.exercise?.name}}</h4>
                                                              <h3 class="card-title">Sets: {{workoutProgram?.exercises[0]?.numberOfSets}}</h3>
                                                              <h3 class="card-title">Reps per set: {{workoutProgram?.exercises[0]?.numberOfReps}}</h3>
                                                              
                                                          </div>
        
                                                      </div>
                                                  </div>
        
                                              </div>
                                          </div>
        
                                          <div *ngFor="let exercise of workoutProgram?.exercises | slice:1:workoutProgram?.exercises.length" class="carousel-item">
                                              <div class="row">
        
                                                  <div class="col">
                                                      <div class="card">
                                                        <img class="img-fluid" alt="100%x280" [src]="'data:image/gif;base64,'+ exercise?.exercise?.image.pictureBytes">

                                                          <div class="card-body">
                                                            <h4 class="card-title">{{exercise?.exercise?.name}}</h4>
                                                            <h3 class="card-title">Sets: {{exercise?.numberOfSets}}</h3>
                                                            <h3 class="card-title">Reps: {{exercise?.numberOfReps}}</h3>
                                                              
                                                          </div>
        
                                                      </div>
                                                  </div>
        
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </section>
                </div>

                

                <div class="contact-form article-comment">
                    <h4>Leave a Reply</h4>
                    <form id="contact-form" [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <textarea name="message" id="message" placeholder="Your message *" rows="4" formControlName="description" class="form-control"></textarea>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <ng-container *ngFor="let star of stars">
                                <app-star (starEnter)="onStarEnter($event)" (starLeave)="onStarLeave()" (starClicked)="onStarClicked($event)" [starId]="star" [rating]="hoverState || rating"></app-star>
                              </ng-container>                              </div>
                        </div>
                          <div class="col-md-12">
                              <div class="send">
                                  <button type="submit" class="px-btn theme"><span>Submit</span> <i class="arrow"></i></button>
                              </div>
                          </div>
                      </div>
                  </form>
                </div>


            </div>

            <div class="col-lg-4 m-15px-tb blog-aside">
                <!-- Author -->
                <div class="widget widget-author">
                    <div class="widget-title">
                        <h3>Author</h3>
                    </div>
                    <div class="widget-body">
                        <div class="media align-items-center">
                            <div class="avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" title="" alt="">
                            </div>
                            <div class="media-body">
                                <h6>Hello, I'm<br>{{workoutProgram?.username}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Author -->
                <!-- Trending Post -->
                <div class="widget widget-post">
                    <div class="widget-title">
                        <h3>Trending Now</h3>
                    </div>
                    <div *ngFor="let trendingPlan of trending" class="widget-body" [routerLink]="['/workout-plans/workout-details', trendingPlan?.id]">
                      <div class="latest-post-aside media">
                          <div class="lpa-left media-body">
                              <div class="lpa-title">
                                  <h5><a [routerLink]="['/workout-plans/workout-details', trendingPlan?.id]">{{trendingPlan?.title}}</a></h5>
                              </div>
                              <div class="lpa-meta">
                                  <a class="name">
                                    {{trendingPlan?.username}}
                                  </a>
                                  <a class="date">
                                    {{trendingPlan?.submissionTime | date}}
                                  </a>
                              </div>
                          </div>
                          <div class="lpa-right">
                              <a>
                                  <img [src]="'data:image/gif;base64,'+ trendingPlan?.image.pictureBytes" width="200px" height="75px" title="" alt="">
                              </a>
                          </div>
                      </div>
                </div>
                <!-- End Trending Post -->
                <!-- Latest Post -->
                <div class="widget widget-latest-post">
                    <div class="widget-title">
                        <h3>Latest Posts</h3>
                    </div>
                    <div *ngFor="let latestPlan of latest" class="widget-body" [routerLink]="['/workout-plans/workout-details', latestPlan?.id]">
                      <div class="latest-post-aside media">
                          <div class="lpa-left media-body">
                              <div class="lpa-title">
                                  <h5><a [routerLink]="['/workout-plans/workout-details', latestPlan?.id]">{{latestPlan?.title}}</a></h5>
                              </div>
                              <div class="lpa-meta">
                                  <a class="name">
                                    {{latestPlan?.username}}
                                  </a>
                                  <a class="date">
                                    {{latestPlan?.submissionTime | date}}
                                  </a>
                              </div>
                          </div>
                          <div class="lpa-right">
                              <a>
                                  <img [src]="'data:image/gif;base64,'+ latestPlan?.image.pictureBytes" width="200px" height="75px" title="" alt="">
                              </a>
                          </div>
                      </div>
                    </div>
                </div>
                <!-- End Latest Post -->
                <!-- widget Tags -->
                <div class="widget widget-tags">
                    <div class="widget-title">
                        <h3>Latest Tags</h3>
                    </div>
                    <div class="widget-body">
                        <div class="nav tag-cloud">
                            <a *ngFor="let muscleGroup of workoutProgram?.muscleGroups">{{muscleGroup}}</a>
                            <a>{{workoutProgram?.bodyPart}}</a>
                            <a>{{workoutProgram?.workoutType}}</a>
                        </div>
                    </div>
                </div>
                <!-- End widget Tags -->
            </div>

            <div class="widget widget-author">

              <section class="pt-5 pb-5">
                <div class="container">
                  <div class="row">
                      <div class="col-6 widget-title">
                          <h3 >Comments</h3>
                      </div>
                      <div class="col-6 text-right">
                          <a class="btn btn-primary mb-3 mr-1" style="background-color: #2dc997; border: none;" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                              <i class="fa fa-arrow-left"></i>
                          </a>
                          <a class="btn btn-primary mb-3 " style="background-color: #2dc997; border: none;" href="#carouselExampleIndicators2" role="button" data-slide="next">
                              <i class="fa fa-arrow-right"></i>
                          </a>
                      </div>
                      <div class="col-12">
                          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                              <div class="carousel-inner">
                                  <div class="carousel-item active">
                                      <div class="row">

                                          <div class="col">
                                              <div class="card">
                                                  <div class="card-body">
                                                    <h4 class="card-title">{{workoutProgram?.reviews[0]?.submitter?.username}}</h4>
                                                      <h3 class="card-title">{{workoutProgram?.reviews[0]?.description}}</h3>
                                                      <ng-container *ngFor="let star of stars">
                                                        <app-star [starId]="star" [rating]="workoutProgram?.reviews[0]?.score"></app-star>
                                                      </ng-container>
                                                  </div>

                                              </div>
                                          </div>

                                      </div>
                                  </div>

                                  <div *ngFor="let review of workoutProgram?.reviews | slice:1:workoutProgram?.reviews.length" class="carousel-item">
                                      <div class="row">

                                          <div class="col">
                                              <div class="card">
                                                  <div class="card-body">
                                                    <h4 class="card-title">{{review?.submitter?.username}}</h4>
                                                      <h3 class="card-title">{{review?.description}}</h3>
                                                      <ng-container *ngFor="let star of stars">
                                                        <app-star [starId]="star" [rating]="review?.score"></app-star>
                                                      </ng-container>
                                                  </div>

                                              </div>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              </section>


            </div>

        </div>


    </div>
  </div>

</div>
