<div class="card mb-2">
  <div class="card-body p-2 p-sm-3">
      <div class="media forum-item">
          <a href="#" data-toggle="collapse" data-target=".forum-content" ><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle" width="50" alt="User" /></a>
          <div class="media-body">
              <h6><a data-toggle="collapse" data-target=".forum-content" class="text-body" (click)="sendData()" style="cursor:pointer">{{article?.title}}</a></h6>
              <p class="text-secondary">
                  {{article?.description | slice:0:100}}
              </p>
              <p class="text-muted"><a href="javascript:void(0)"></a>Published by <span class="text-secondary font-weight-bold">{{article?.submitter?.username}}</span>, {{article?.submissionTime | date}}</p>
          </div>
          <div class="text-muted small text-center align-self-center">
              <span class="d-none d-sm-inline-block"><i class="fa fa-eye"></i> {{article?.views}}</span>
              <span><i class="fa fa-comment ml-2"></i> {{commentsCount}}</span>
          </div>
      </div>
  </div>
</div>

