<div class="meal">
  <div class="container py-5" data-aos="zoom-in" data-aos-delay="100">

    <br>
    <br>
    <br>
    <br>

    <div class="container left" style="float: left; width: 28%; background-color: white;" [formGroup]="meal">
      <button style="display: none;" class="btn filters-button" type="button" data-toggle="collapse" data-target="#filters" aria-expanded="true" aria-controls="filters">
        Filters
      </button>
      <div id="filters" class="collapse show">
      <div class="form-row">
        <div class="form-group">
          <label for="dietaryType">Dietary type</label>
          <select class="form-control" id="dietaryType" formControlName="dietaryType" [(ngModel)]="selectedDietaryType" (change)="changeDietaryType()">
            <option value="ALL">All</option>
            <option value="VEGAN">Vegan</option>
            <option value="VEGETARIAN">Vegetarian</option>
            <option value="PESCATARIAN">Pescatarian</option>
            <option value="CARNIVORE">Carnivore</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="mealType">Meal type<i class="fa fa-refresh" style="padding-left: 10px;" (click)="resetMealType()" aria-hidden="true"></i> </label>
          <select multiple class="form-control" id="mealTypes" formControlName="mealTypes" [(ngModel)]="selectedMealTypes" (change)="changeMealTypes()">
            <option value="BREAKFAST">Breakfast</option>
            <option value="LUNCH">Lunch</option>
            <option value="DINNER">Dinner</option>
            <option value="SNACK">Snack</option>
            <option value="DESSERT">Dessert</option>
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group">
          <label for="bodyPart">Sort by</label>
          <select class="form-control" id="bodyPart" formControlName="sort" [(ngModel)]="criteria" (change)="sortMeals()">
            <option value="None">None</option>
            <option value="AlphabeticalAsc">Alphabetical Ascending</option>
            <option value="AlphabeticalDesc">Alphabetical Descending</option>
            <option value="PriceAsc" >Price Ascending</option>
            <option value="PriceDesc" >Price Descending</option>
            <option value="DateAsc" >Date Ascending</option>
            <option value="DateDesc" >Date Descending</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="preparationTime">Preparation time</label>
          <select class="form-control" id="preparationTime" formControlName="preparationTime" [(ngModel)]="selectedPreparationTime" (change)="changePrepTime()">
            <option value="ANY">Any</option>
            <option value="LESS_THAN_30">Less than 30 minutes</option>
            <option value="BETWEEN_30_60">Between 30 and 60 minutes</option>
            <option value="MORE_THAN_60">More than 60 minutes</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="cookingTime">Cooking time</label>
          <select class="form-control" id="cookingTime" formControlName="cookingTime" [(ngModel)]="selectedCookingTime" (change)="changeCookTime()">
            <option value="ANY">Any</option>
            <option value="LESS_THAN_30">Less than 30 minutes</option>
            <option value="BETWEEN_30_60">Between 30 and 60 minutes</option>
            <option value="MORE_THAN_60">More than 60 minutes</option>
          </select>
        </div>
      </div>

      <label>Servings <i class="fa fa-refresh" style="padding-left: 10px;" (click)="resetServings()" aria-hidden="true"></i></label>
      <mat-slider
        class="average"
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="1"
        max="15"
        formControlName='servings'
        [(ngModel)]="selectedServings"
        (change)="changeServings()"
        #matSlider
        >
      </mat-slider>
    </div>
    </div>

    <div class="container buttons" style="float: right; width: 70%;">
      <div class="form-row">
        <div class="form-group col-md-11 search-button" style="padding: 0; border-radius: 10px;">
          <input type="text" class="form-control" id="title" placeholder="Search" [(ngModel)]="searchTerm" (change)="searchMeals()">
        </div>
        <div class="col-md-1 create-button" style="padding-left: 15px;" [hidden]="!isAuthenticated()">
          <a [routerLink]="['/meals/create-meal']" class="btn btn-light" style="background-color: white;color: black; border-radius: 50%;">+</a>
        </div>
      </div>
    </div>

    <div class="container right" style="float: right; width: 70%;">
      <div class="row">
        <div class="mx-auto scroll" data-aos="zoom-in" data-aos-delay="100">

          <!-- List group-->
          <ul class="list-group shadow" >
            <app-meal-thumbnail *ngFor="let meal of activeMeals  | paginate: {
              id: 'meal_pagination',
              itemsPerPage: 3,
              currentPage: page,
              totalItems: totalMeals }" [meal]="meal"></app-meal-thumbnail>

          </ul>
        </div>
      </div>

      <pagination-controls  id="meal_pagination"
                      (pageChange)="handlePageChange($event)"
                      maxSize="5"
                      autoHide="true"
                      directionLinks="true"
                      responsive="true"
                      previousLabel="Prev"
                      nextLabel="Next">
      </pagination-controls>

    </div>


  </div>

</div>
