<div class="meal">
  <div class="container py-5" data-aos="zoom-in" data-aos-delay="100">

    <br>
    <br>
    <br>
    <br>

    <div class="container left" style="float: left; width: 28%; background-color: white;" [formGroup]="meal">
      <div class="form-row">
        <div class="form-group">
          <label for="dietaryType">Dietary type</label>
          <select class="form-control" id="dietaryType" formControlName="dietaryType">
            <option value="VEGAN">Vegan</option>
            <option value="VEGETARIAN">Vegetarian</option>
            <option value="PESCATARIAN">Pescatarian</option>
            <option value="CARNIVORE">Carnivore</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="mealType">Meal type</label>
          <select multiple class="form-control" id="mealTypes" formControlName="mealTypes">
            <option value="BREAKFAST">Breakfast</option>
            <option value="LUNCH">Lunch</option>
            <option value="DINNER">Dinner</option>
            <option value="SNACK">Snack</option>
            <option value="DESSERT">Dessert</option>
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group">
          <label for="bodyPart">Sort by</label>
          <select class="form-control" id="bodyPart" formControlName="sort" [(ngModel)]="selectedFilter" (change)="selectedFilter()">
            <option value="None">None</option>
            <option value="AlphabeticalAsc">Alphabetical Ascending</option>
            <option value="AlphabeticalDesc">Alphabetical Descending</option>
            <option value="PriceAsc" >Price Ascending</option>
            <option value="PriceDesc" >Price Descending</option>
            <option value="DateAsc" >Date Ascending</option>
            <option value="DateDesc" >Date Descending</option>
            <option value="RateAsc" >Rating Ascending</option>
            <option value="RateDesc" >Rating Descending</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="preparationTime">Preparation time</label>
          <select class="form-control" id="preparationTime">
            <option value="LESS_THAN_30">Less than 30 minutes</option>
            <option value="BETWEEN_30_60">Between 30 and 60 minutes</option>
            <option value="MORE_THAN_60">More than 60 minutes</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="cookingTime">Cooking time</label>
          <select class="form-control" id="cookingTime">
            <option value="LESS_THAN_30">Less than 30 minutes</option>
            <option value="BETWEEN_30_60">Between 30 and 60 minutes</option>
            <option value="MORE_THAN_60">More than 60 minutes</option>
          </select>
        </div>
      </div>

      <label>Servings</label>
      <mat-slider
        class="average"
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="1000"
        min="1"
        max="10"
        formControlName='servings'
        #matSlider
        >
      </mat-slider>

    </div>

    <div class="container" style="float: right; width: 70%;">
      <div class="form-row">
        <div class="form-group col-md-11" style="padding: 0;">
          <input type="text" class="form-control" id="title" placeholder="Search">
        </div>
        <div class="col-md-1" style="padding-left: 15px;">
          <a [routerLink]="['/meals/create-meal']" class="btn btn-light" style="background-color: white;color: black; border-radius: 50%;">+</a>
        </div>
      </div>
    </div>

    <div class="container" style="float: right; width: 70%;">
      <div class="row">
        <div class="mx-auto scroll" data-aos="zoom-in" data-aos-delay="100">

          <!-- List group-->
          <ul class="list-group shadow" >
            <app-meal-thumbnail *ngFor="let meal of meals" [meal]="meal"></app-meal-thumbnail>
            <app-meal-thumbnail></app-meal-thumbnail>
            <app-meal-thumbnail></app-meal-thumbnail>

          </ul>
        </div>
      </div>

    </div>


  </div>

</div>
