.container {
  width: 90%;
  margin: auto!important;
}


.create-workout-plan-page {
  background: url('../../../assets/img/limit.jpg') top center;
  background-size: cover;
  min-height: 125vh;
}

.btn {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  background-color: #2dc997;
  border-radius: 10px;
  border: none;
}

.btn:hover, .btn:active:focus {
  background-color: transparent;
  border: 2px solid;
  border-color: gray;
  color: gray;
}

input:focus {
  border-color:  rgba(45, 201, 151, 0.81);
  box-shadow:  rgba(45, 201, 151, 0.81);
  outline: 0 none;
}

.form-group {
  width: 100%;
}

@media (max-width: 768px) {
  .left {
    float: none!important;
    width: 100%!important;
    margin: auto!important;
  }

  .right {
    float: none!important;
    width: 100%!important;
    margin: auto!important;
  }
}
