<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Welcome to BEFIT</h1>
    <h2>Our goal is to make health and fitness attainable, affordable and approachable.</h2>
    <a [routerLink]="['/workout-plans']" class="btn-get-started">Get Started</a>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">
      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title">Few words about us</h2>
          <p class="about-us" >
            BeFiT was created by just two students: a team of young, soon-to-be software engineers
            who thought fitness should be accessible to everyone, regardless of their income.
            Both Filip and Viktor felt like there was a lack of reliable health and fitness
            information on the web, and too many people in the industry were more focused on monetary
            gain or appearance than they were on good health.
          </p>
          <br>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fa fa-male"></i></div>
            <h4 class="title"><a href="">Workout programs</a></h4>
            <p class="description">A huge selection of exercises and workout programs to help you look and feel your best.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="fa fa-cutlery"></i></div>
            <h4 class="title"><a href="">Nutrition</a></h4>
            <p class="description">A huge selection of health and fitness content, healthy recipes and transformation stories to help you get and stay fit.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fa fa-comments"></i></div>
            <h4 class="title"><a href="">Forum</a></h4>
            <p class="description">An online community full of shared experiences of other people about fitness, health, dieting and weight loss.</p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Facts Section ======= -->
  <section id="facts">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Facts</h3>
        <p class="section-description">Our numbers speak for themselves</p>
      </div>
      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">{{usersCount}}</span>
          <p>Users</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">{{exercisesCount}}</span>
          <p>Exercises</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">{{workoutProgramsCount}}</span>
          <p>Programs</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">{{mealsCount}}</span>
          <p>Recipies</p>
        </div>

      </div>

    </div>
  </section><!-- End Facts Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action">
    <div class="container">
      <div class="row" data-aos="zoom-in">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Join us</h3>
          <p class="cta-text">An online community full of shared experiences of other people about fitness, health, dieting and weight loss. Become part of it, starting now!</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" [routerLink]="['/forum']">Community</a>
        </div>
      </div>

    </div>
  </section><!-- End Call To Action Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Portfolio</h3>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Workout</li>
            <li data-filter=".filter-card">Nutrition</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" *ngFor="let workout of trendingWorkoutPlans">
          <img [src]="'data:image/gif;base64,'+ workout?.image.pictureBytes" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>{{workout?.title}}</h4>
            <p>{{workout?.workoutType}}</p>
            <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a [routerLink]="['/workout-plans/workout-details', workout?.id]" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" *ngFor="let meal of trendingMeals">
          <img [src]="'data:image/gif;base64,'+ meal?.image.pictureBytes" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>{{meal?.title}}</h4>
            <p>{{meal?.dietaryType}}</p>
            <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
            <a [routerLink]="['/meals/meal-details', meal?.id]" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>





        

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <section id="team">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Team</h3>
        <p class="section-description">Our team members</p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 team-col">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="pic"><img src="assets/img/viktorvan.jpg" alt=""></div>
            <h4>Viktor Sadikovic</h4>
            <span>Computer Science and Engineering student</span>
            <div class="social">
              <a href="https://www.facebook.com/viktorose1"><i class="fa fa-facebook" style="padding:2px"></i></a>
              <a href="https://www.instagram.com/viktorose1/"><i class="fa fa-instagram" style="padding:2px"></i></a>
              <a href="https://www.linkedin.com/in/viktor-sadikovic-94a004178/"><i class="fa fa-linkedin" style="padding:2px"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 team-col">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="pic"><img src="assets/img/spirovan.jpg" alt=""></div>
            <h4>Filip Spirovski</h4>
            <span>Computer Science and Engineering student</span>
            <div class="social">
              <a href="https://www.facebook.com/filip.spirovski.1"><i class="fa fa-facebook" style="padding:2px"></i></a>
              <a href="https://www.instagram.com/fspirovski/"><i class="fa fa-instagram" style="padding:2px"></i></a>
              <a href="https://www.linkedin.com/in/filip-spirovski-240a351b9/"><i class="fa fa-linkedin" style="padding:2px"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact">
    <div class="container">
      <div class="section-header">
        <h3 class="section-title">Contact</h3>
        <p class="section-description">If you have any questions, feel free to contact us.</p>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Ruger Boshkovikj 16<br>Skopje, 1000</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>befitmacedonia@gmail.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+389 75 500 000</p>
            </div>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

