.about-us {
  text-align: justify;
}

.team-col {
  margin: 0 auto;

}

#facts .counters p {
  padding: 15px;
}

.fa-heart {
  color: red;
}

.fa-heart-o:hover {
  color: red!important;
}

.fa-heart:hover {
  color: white;
}
