.login-form {
  width: 340px;
  margin: auto;
  font-size: 15px;
  padding-top: 100px;
}

form {
  border-radius: 20px!important;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
  background-color: #2dc997;
  border-radius: 10px;
  border: none;
}

.btn:hover, .btn:active:focus {
  background-color: transparent;
  border: 2px solid;
  border-color: gray;
  color: gray;
}

input:focus {
  border-color:  rgba(45, 201, 151, 0.81);
  box-shadow:  rgba(45, 201, 151, 0.81);
  outline: 0 none;
}

.register-page {
  background: #00b09b!important;
  background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
  background: linear-gradient(to right, #00b09b, #96c93d)!important;
  min-height: 80vh;
}
