
<div class="register-page">
  <div class="login-form" data-aos="zoom-in" data-aos-delay="100">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2 class="text-center">Register</h2>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="Name" required="required">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="surname" placeholder="Surname" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="email" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required="required">
        </div>
        <!-- <div class="form-group">
          <input type="file" class="form-control">
        </div> -->
        <!-- <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm password" required="required">
       </div> -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
        <div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
            <a href="#" class="float-right">Forgot Password?</a>
        </div>
    </form>
    <p class="text-center"><a [routerLink]='["/login"]'>Already have an account?</a></p>
  </div>
</div>
